
body {
	padding-top: 220px;
    min-width: 850px;
    overflow-x: auto;
}
header{
	height: 220px;
	padding: 40px 0 0 50px;
	top: 0;
	position: fixed;
}
.header_title {
	font-size: 70px;
	margin: 0;
}
.header_sub_desktop {
	font-size: 12px;
	padding-left: 80px;
}
.header_sub_mobile {
	display: none;
}
nav {
	font-size: 22px;
	position: relative;
	height: 35px;
	text-align: center;
	background: whiteSmoke;
	font-family: 'Open Sans', sans-serif;
}
nav a.link {
	display: inline-block;
	margin: 0px 0px;
	padding: 3px 10px 0 10px;
}
nav a.link:hover {
	border-top: 3px solid #000;;
	padding-top: 0px;
}
.shipicon {
	position: absolute;
	width: 240px;
	right: 10px;
	bottom: -9px;
	
}
.content {
	width: 800px;
	margin: 0 auto;
    text-align: justify;
    font-size: 20px;
}
.fixed {
	position: fixed; 
	top: 0; 
	height: 35px; 
	z-index: 1;
	width: 100%;
}
#socialmedia{
    display: block;
}
#socialmedia img{
	display: inline;
    width: 40px;
}
form{
	float: left;
}

