body {
	margin: 0;
	
	background: #f2f2e8;
}
header {
	width: 100%;
	background-image: url("../images/bg_header.jpg");
	/*background-color: #12B7C6;*/
}
.header_title {
	font-family: 'Sigmar One', cursive;
	color: #BAE0E4;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
}
.header_sub {
	margin: 0;
	color: #000;
}
nav {
	z-index: 150;
}
nav a.link {
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	color: black;
}


.main {
	background: #f2f2e8;
	position: relative;
	padding-top: 10px;
	overflow: hidden;
}
h1{
    font-size: 50px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-bottom: 2px;
}
.content {
}
nav > a
{
	display: none;
}
nav li
{
	position: relative;
}
 
nav > ul
{
	margin: 0;
	overflow: hidden;
	padding: 0;
	list-style: none;
}
nav > ul > li
{         
	height: 100%;
	list-style-type: none;
	display: inline;
}
#socialmedia{
	border: 0px solid black;

}
form{
	width: 330px;
}
label{
	display: inline-block;
	width: 110px;
    padding-bottom: 8px;
}
input, textarea{
	width: 200px;
    max-width: 690px;
}
input[type="submit"]{
	float: right;
}
.content > p{
    margin-bottom: 55px;   
}
footer {
	font-size: 10px;
	color: #999;
	text-align: center;
	padding-top: 20px;
}
.error {
      border: 1px solid #cd0a0a;
    background: #fef1ec;
    color: #cd0a0a;
      padding:5px;
    margin-bottom: 10px;
    display: none
    
}


.content img {
    width: 30%;
    margin: 10px;
}

footer img {
margin-top: 15px;
max-height: 25px;
width: auto;
}
