nav > img {
	box-shadow: 1px 1px 1px #888888;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
}
#socialmedia{
	background-color: rgba(0,0,0,0.0);
	border-radius: 0px;

}

.error {
      border-radius: 4px;
}
